
<h2>Reactive Form Demo</h2>
<form class="form-horizontal" 
[formGroup]="registerForm" 
(ngSubmit)="logForm(registerForm.value)">
    <div class="container">
        <div class="form-group">
            <label>FirstName: </label>
            <input type="text" class="form-control"
             formControlName="firstname">
             <div class="text-danger" 
             *ngIf="registerForm.get('firstname').hasError('required') 
             && registerForm.get('firstname').touched">
                 FirstName is required.....
             </div>
        </div>
        <div class="form-group">
            <label>LastName: </label>
            <input type="text" class="form-control" formControlName="lastname">
            <div class="text-danger" *ngIf="registerForm.get('lastname').touched">
                <p *ngIf="registerForm.get('lastname').hasError('required') ">LastName is required...</p>
                <p *ngIf="registerForm.get('lastname').hasError('minlength') ">Min Length...</p>
                <p *ngIf="registerForm.get('lastname').hasError('maxlength') ">Max Length...</p>
            </div>
        </div>
        <fieldset formGroupName="address">
            <div class="form-group">
                <label>City: </label>
                <input type="text" class="form-control" formControlName="city">
                <div class="text-danger" *ngIf="registerForm.get('address.city').touched">
                    <p *ngIf="registerForm.get('address.city').hasError('required')">City is required...</p>
                </div>
            </div>
            <div class="form-group">
                <label>Zip: </label>
                <input type="text" class="form-control" formControlName="zip">
                <div class="text-danger" *ngIf="registerForm.get('address.zip').touched">
                    <p *ngIf="registerForm.get('address.zip').hasError('required') ">Zip Code is required...</p>
                    <p *ngIf="registerForm.get('address.zip').hasError('pattern') ">Pattern should match - zipcode should be 5 digits...</p>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label>Email: </label>
            <input type="text" class="form-control" 
            formControlName="emailAddr">
            <div class="text-danger">
                <p *ngIf="registerForm.get('emailAddr').hasError('required')">Email is required.....</p>
                <p *ngIf="registerForm.get('emailAddr').hasError('pattern')">The email address must contain at least the @ character</p>            
                <p *ngIf="registerForm.get('emailAddr').hasError('emailDomain')">Email must be on the persistent.com domain</p>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary"
             [disabled]=registerForm.invalid value="Submit">
        </div>
    </div>
</form>